/* estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}




/* encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #bf7699;
}

h1 {
    color: #bf7699;
    margin: 10px 0;
}

/* secciones */
.section {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
}

h2 {
    color: #2c3e50;
    font-size: 1.3em;
}

h3 {
    margin: 5px 0;
    font-size: 1.1em;
}

/* listas */
ul {
    padding-left: 20px;
}

.skills {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    background: #bf7699;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
/*Estilo para boton de imprimir*/
.print-button-container {
    text-align: center;
    margin:20px 0;
}


.prin-button {
    background-color:#bf7699;
    color:#ffffff;
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.print-button:hover {
    background-color: #981954;
}
/* estilos para impresion */
@media print{
    .print-button-container{
        display:none;
    }}
    